<h1>List 'o People</h1>

<table class='people'>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Birthdate</th>
  </tr>
  <%= render partial: 'person', collection: @people %>
</table>
